# MongoDB
MONGO_URI_LOCAL=mongodb://localhost:27017/commercedb

MONGO_URI_CUSTOMER_DOCKER=mongodb://mongo:27017/customerdb
MONGO_URI_PRODUCT_DOCKER=mongodb://mongo:27017/productdb
MONGO_URI_ORDER_DOCKER=mongodb://mongo:27017/orderdb
MONGO_URI_PAYMENT_DOCKER=mongodb://mongo:27017/paymentdb
MONGO_URI_TRANSACTION_DOCKER=mongodb://mongo:27017/transactiondb

# RabbitMQ
RABBITMQ_URI_DOCKER=amqp://rabbitmq:5672

# Service ports
PORT_CUSTOMER=3001
PORT_PRODUCT=3002
PORT_ORDER=3003
PORT_PAYMENT=3004
